.App {
  text-align: center;
}

p {
font-size: 12px;
}

#dropdown-basic-button{
  width: 75%;
}

.h2 {
  text-decoration: underline;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s linear;
  }
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 7px 7px 7px 25px;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: calc(20px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Home-block {
  border-width: 10px;
  border-color: #5ed344;
  display: flex;
  justify-content: space-between;
}

.body-block {
  vertical-align: middle;
  display: inline-block;
  border-width: 10px;
  border-color: #5D5FEF;
}
.Fera-block {
  display: inline-block;
  border-width: 10px;
  border-color: #612941;
  width: 40%;
}

.data-handler-panel{
  display: flex;
  flex-wrap: nowrap;
}

.Data-handler-btn{
  background-color: #5D5FEF;
  border: none;
  color: white;
  padding: 5px 10px;
  margin: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.annotation-btn{
  background-color: rgba(0, 0, 0, 0.22);
  border: none;
  color: #000000;
  padding: 5px 10px;
  margin: 15px 20px;
  text-align: center;
  text-decoration: none;
}

.fera-list-clickable{
  display: flex;
  align-items: center;
}

.hide{
  display: none;
}

@keyframes App-logo-spin {
    0% { 
    transform: scale(1,1);
    opacity: 0.8;
}
  50% {
  transform: scale(1.2,1.2);
  opacity: 1;
  }
  100% { 
  transform: scale(1,1); 
  opacity: 0.8;
  }
}

